<div class="">
    <div class="row">
        <div class="col-2 ">
            <div class="col vh-100 ">
                <div class="p-2" [routerLink]=" [ ''] "><img style="width:60%" src="assets/imagem2.png"></div>
                <div class="p-2 "><button type="submit" class="btn btn-success" [routerLink]="['/dashboard']">Dashboard</button></div>
                <div class="p-2 "><button type="submit" class="btn btn-outline-success" [routerLink]="['/unidades']">Unidades</button></div>
                <div class="p-2 "><button type="submit" class="btn btn-outline-success" [routerLink]="['/consumo']">Cadastro de<br> energia gerada</button></div>
            </div>
        </div>
        <div class="col-10 ">
            <h1>Dashboard</h1>
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-1 vh-100"></div>
                        <div class="col-10 ">
                            <div class="row ">
                                <div class="col bg-light border m-2 text-center">
                                    <p>Total unidade</p>
                                    <p>60</p>
                                </div>
                                <div class="col bg-light border m-2 text-center">
                                    <p>Unidades Ativas</p>
                                    <p>16</p>
                                </div>
                                <div class="col bg-light border m-2 text-center">
                                    <p>Unidades inativas</p>
                                    <p>43</p>
                                </div>
                                <div class="col bg-light border m-2 text-center">
                                    <p>Média de energias</p>
                                    <p>64kw</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-1 "></div>
                    </div>
                </div>
            </div>
        </div>

    </div>