<div class="">
    <div class="row">
        <div class="col-2 ">
            <div class="col vh-100 ">
                <div class="p-2" [routerLink]=" [ ''] "><img style="width:60%" src="assets/imagem2.png"></div>
                <div class="p-2 "><button type="submit" class="btn btn-outline-success" [routerLink]="['/dashboard']">Dashboard</button></div>
                <div class="p-2 "><button type="submit" class="btn btn-outline-success" [routerLink]="['/unidades']">Unidades</button></div>
                <div class="p-2 "><button type="submit" class="btn btn-success" [routerLink]="['/consumo']">Cadastro de<br> energia gerada</button></div>
            </div>
        </div>
        <div class="col-10 ">
            <h1>Lançamento de geração mensal</h1>

            <div class="row-1">
                <p>Unidade geradora:</p>
                <input [(ngModel)]="geracao.apelido">
            </div>
            <div class="row-1">
                <p>Mês/ano</p>
                <input [(ngModel)]="geracao.data">
            </div>
            <div class="row-1">
                <p>Total kw gerado</p>
                <input [(ngModel)]="geracao.totalGerado">
            </div>
            <div class="row-2 mt-4">
                <button class="btn btn-success " (click)="Salva()">Cadastrar</button>
            </div>

        </div>

    </div>