<div class="row align-items-start">
    <div class="col-sm-5 col-md-6">
        <img style="width:100%" src="assets/imagem.png">
    </div>
    <div class="col-sm-5 col-md-6 align-items-center">
        <img style="width:20%" src="assets/imagem2.png">
        <p>Seja bem vindo</p>
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" pattern="^[/w-/.]+@([/w-]+/.)+[/w-]{2,4}$" placeholder="Email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success" [routerLink]="['/dashboard']">LOGIN</button>
        </form>
    </div>
</div>