<div class="row align-items-start">
    <div class="col-sm-5 col-md-6">
        <img style="width:100%" src="assets/imagem.png">
    </div>
    <div id="formLogin" class="col-sm-5 col-md-6 align-items-center">
        <img id="imgLogin" src="assets/imagem2.png">
        <p id="textLogin">Seja bem vindo</p>
        <form #login="ngForm">
            <div class="mb-3">
                <input type="email" name="email" id="email" class="form-control" pattern="^[/w-/.]+@([/w-]+/.)+[/w-]{2,4}$" placeholder="Email" [(ngModel)]="email" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <button id="btnLogin" type="submit" [disabled]="!login.form.valid" class="btn btn-success" [routerLink]="['/dashboard']">LOGIN</button>
        </form>

    </div>
</div>